html,body{
    width: 100%;
    height: 100;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;

}
section{
    width: 100%;
    padding: 2px;
    margin: 0;
}
#wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
header{
    border-bottom: 1px solid#ccc;
    border-top: 1px solid#ccc;
    padding: 9px 9px 0;
}
header #wrapper{
    align-items: center;
}
header nav ul{
    list-style: none;   
}
header nav ul li{
  padding: 10px;
  display: inline;
}
header nav a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;  
  font-size: 16px;
  position: relative;
  font-weight: 500;
}
header nav a:hover{
    border-bottom: 2px solid red;
}
.leftNav img{
    width: 129px;
    height: 43px;
}
/* slogan */
.slogan{
    text-align: center;
}
.slogan h2 {
    font-weight: 700;
    font-size: 66px;
    line-height: 1;
    margin-bottom: 5px;
}
.slogan p{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: 3px;
}
.video img{
    width: 100%;
    height: 100%;
}
/* download */
footer{
    background: black;
    color: white;
    margin-top: -6px;
}
footer div#wrapper{
    justify-content: space-around;
    padding: 29px 26px 48px;
}
.download{
 
 color: white;
 padding: 20px 50px 48px;
 
}
.download h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;  
    text-align: center; 
}
.downLink p{
    font-size: 10px;
    text-align: center;
    color: #DCDCDE;
    font-weight: 500;
}
.downLink img{
    width:520px;
    margin-left: 2px;
}
hr{
   border: 1px solid #979797;
}
.stores div  {
    display: flex;
    justify-content: space-between;
}
.stores a {
    margin-right: 2%;
}
.stores img{
  width: 148px;
}
/* lists */
#lists{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 28px 50px 28px;
}
#lists img{
  width: 159px;
  filter:invert(1);
}
#lists ul{
    list-style: none;   
}
#lists ul li{
  padding: 5px 0;
  
}
#lists a{
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
#lists a:hover{
    border-bottom: 1px solid #ccc;

}
#lists h3{
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px; 
    
}
.copyRights{
    display: flex;
    justify-content: space-between;
    padding: 0 160px 20px;
}
.copyRights p {
    
    font-weight: bold;
    font-size: 12px;    
    line-height: 24px;
    color: #8a8b91;
}
.copyRights>:first-child{
    border: 1px solid #ccc;
    padding:10px 10px 10px 10px;
    color: #DCDCDE;
}
.copyRights>:first-child:after{
    content: '\25bc';
    padding-left: 55px;
}
.menu-content {
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
}
.collapsible-menu {
    background-color: rgb(255, 255, 255);
    width: 80%;    
    /*padding: 0px 30px;    
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);*/
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
    
}
.collapsible-menu a {
    display:block;
    padding: 10px 40px;
    text-decoration: none;
}
.collapsible-menu label {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px; 
    display: block;
    cursor: pointer;
    background: url(../image/menu.png) no-repeat left center;
    padding: 10px 0 10px 50px;
}
input#menu {
    display: none;
}
input:checked +label {
    background-image: url(image/close.png);
}
.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
    position: relative;
    width: 160px;
    

}
/* Toggle Effect */
input:checked ~ label {
    background-image: url(image/close.png);
    background-size: contain;
}
input:checked ~ .menu-content {
    max-height: 100%;
}
nav,.leftNav {
    display: inline-block;
}
.leftNav{
    margin-left: -80px;
    margin-top: -5px;
}
.watch h2{
    background: red;
    padding: 10px;
}
.watch a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.watch a:before{
    content: '\25ba';
    margin-right :4px;
    font-weight: 700;
    font-size: large;
}
@media only screen and (max-width:974px){
   .download{
       flex-direction: column;
   } 
   .downLink{
       display:none;
   }
   .stores div {
	display: flex;
	justify-content: center;
	flex-direction: column;
   }
   .stores a {
		padding: 8px;
}
#lists {	
	justify-content: center;
	flex-direction: column;
    align-items: center;
    text-align: center;
}
}
@media only screen and (max-width:600px){
    .slogan h2 {
        font-size: 44px;
    }
}
@media only screen and (max-width:370px){
    .slogan h2 {
        font-size: 24px;
    }
    .slogan p{
        font-weight: 500;
        font-size: 18px;
        line-height: 12px;
    }
    @media only screen and (max-width:304px){
        .leftNav {
            margin-left: 0; 
           
        }
        .slogan p{
            font-weight: 500;
            font-size: 14px;
            line-height: 10px;
        }
    }
}